{% extends "base.html" %}

{% block title %}Cookies Запроса{% endblock %}
{% block page_title %}Cookies Запроса{% endblock %}

{% block content %}
  {% if cookies %}
    <p>Получены следующие cookies:</p>
    <ul class="list-group">
      {% for key, value in cookies.items() %}
        <li class="list-group-item"><b>{{ key }}:</b> {{ value }}</li>
      {% endfor %}
    </ul>
    <p class="mt-3"><small>Если вы не видите ожидаемые cookies, попробуйте перейти по ссылке <a href="{{ url_for('set_cookie') }}">"Установить/Показать Cookies"</a> еще раз.</small></p>
  {% else %}
    <p>Cookies не найдены в этом запросе.</p>
     <p><a href="{{ url_for('set_cookie') }}" class="btn btn-primary">Установить тестовые Cookies</a></p>
  {% endif %}
{% endblock %}