{% extends "base.html" %}

{% block title %}Заголовки Запроса{% endblock %}
{% block page_title %}Заголовки Запроса{% endblock %}

{% block content %}
  <p>Получены следующие заголовки:</p>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Заголовок</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in headers.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}